*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.4;
}
/* HEADER CONTENT*/

header{
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  width: 960px;
  position: fixed;
  margin-top: 1rem ;
  right: 197px;
  color: white;
}
a{
  text-decoration: none;
  margin: 1rem 2rem 1rem 0;
  color: white;
}
.logo-top{
  display: flex;
  align-items: center;
}
.logo-top img{
  height: 1.5rem;
  margin: 1rem 1rem 1rem 2rem;
}
.logo-top span{

}
.browser-nav{
  display: flex;
  width: 300px;

}
.browser-nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
}

/*END HEADER CONTENT*/
/* MAIN CONTENT*/

.main-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 height: 30rem;
 z-index: -2;
 margin-bottom: 2rem;
}
.main-content{
margin-right: 10%;
}
.message-box{
  height:100%;
  width: 100%;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
.message-box h3{
margin: 1.5rem 5rem;
padding-top: 20px;
text-transform: uppercase;
}
/*END MAIN CONTENT*/
/*SDECONDARY CONTENT EXAMS, FITTINGS, DELIVERIES*/
.secondary-content{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height: 8rem;
  text-align: center;
}
.png-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:3rem auto;
  width: 50%;
}

.png-container img{
  width: 5rem;
  height: 3.5rem;
}
/*END SEDECONDARY CONTENT EXAMS, FITTINGS, DELIVERIES*/
/*ENDING CONTENT PHILOSOPHY AND APPOINTMENTS */
.ending-content{
  display:flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 5rem;
}
.philosophy{
  width: 35%;
  margin: 5% 5%;
}
.philosophy h3{
  background-color: cadetblue;
  color: white;
  width: 12rem;
  margin:0 auto 1rem 1.5rem;
  padding-left: 1.25rem;
}
.appointment{
  width: 35%;
  margin: 5% 5% 5% 0;
}
.appointment h3{
  background-color: cadetblue;
  color: white;
  width: 12rem;
  margin:0 auto 1rem 1.5rem;
  padding-left: 1.25rem;
}
/*ENDING CONTENT PHILOSOPHY AND APPOINTMENTS */
/*FOOTER SECTION*/
footer{
  background-color: azure;
  width:100%;
  display: flex;
  align-items: center;
}
footer img{
  margin: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}
/*FOOTER SECTION*/
